body {
  background-color: #006f91c0 ;}
h1{color: #0033ff;}
P { 
   font-size:16 px;
   color:#ccf7ff ; 
}

header { 
  border-bottom; solid 3px #ca9c11 ; 
  padding: 10px
  font-size: 22px
  color: White
}
